{%- from tplroot ~ "/map.jinja" import flannel with context -%}
{%- from tplroot ~ "/vars.jinja" import
    flanneld_bin_path
with context -%}
{%- from "kubernetes/vars.jinja" import
    cluster_networks,
    node_role
-%}
{%- from "etcd/vars.jinja" import
    etcd_endpoints,
    etcd_ca_cert_path,
    etcd_ssl_cert_path, etcd_ssl_key_path,
    etcdctl_bin_path
-%}

[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
After=etcd.service
Before=docker.service

[Service]
Type=notify
RuntimeDirectory=flannel
{%- if node_role == 'master' %}
Environment=ETCDCTL_API=2
ExecStartPre={{ etcdctl_bin_path }} \
    --endpoints {{ etcd_endpoints|join(',') }} \
    --ca-file {{ etcd_ca_cert_path }} \
    --cert-file {{ etcd_ssl_cert_path }} \
    --key-file {{ etcd_ssl_key_path }} \
    set /coreos.com/network/config \
    '{"Network": "{{ cluster_networks.pod_network_cidr }}", "Backend": {"Type": "vxlan", "VNI": 1}}'
{%- endif %}
ExecStart={{ flanneld_bin_path }} \
    -etcd-endpoints={{ etcd_endpoints|join(',') }} \
    -etcd-cafile={{ etcd_ca_cert_path }} \
    -etcd-certfile={{ etcd_ssl_cert_path }} \
    -etcd-keyfile={{ etcd_ssl_key_path }} \
    -subnet-file=/run/flannel/subnet.env \
    -subnet-lease-renew-margin=1200 \
    -ip-masq
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
