{%- from tplroot ~ "/map.jinja" import flannel with context -%}
{%- from tplroot ~ "/vars.jinja" import
    flannel_etcd_api,
    flannel_public_ip,
    flanneld_bin_path
with context -%}
{%- from "kubernetes/vars.jinja" import
    kubernetes_version,
    cluster_networks,
    node_role
-%}
{%- from "etcd/vars.jinja" import
    etcd_ca_cert_path,
    etcd_ssl_cert_path, etcd_ssl_key_path,
    etcdctl_bin_path
-%}

[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
After=etcd.service
{%- if salt['pkg.version_cmp'](kubernetes_version, 'v1.24.0') < 0 %}
Before=docker.service
{%- endif %}

[Service]
Type=notify
RuntimeDirectory=flannel
{%- if node_role == 'master' %}
Environment=ETCDCTL_API={{ flannel_etcd_api }}
ExecStartPre={{ etcdctl_bin_path }} \
    --endpoints{% if flannel_etcd_api == 3 %}={% endif %}{% for server, addrs in salt['mine.get']('roles:kube-master', 'kube_master_ip_addrs', tgt_type='grain')|dictsort() -%}
        https://{{ addrs[0] }}:2379{% if not loop.last %},{% endif %}
  {%- endfor %} \
  {%- if flannel_etcd_api == 3 %}
    --cacert={{ etcd_ca_cert_path }} \
    --cert={{ etcd_ssl_cert_path }} \
    --key={{ etcd_ssl_key_path }} \
    put \
  {%- elif flannel_etcd_api <= 2 %}
    --ca-file {{ etcd_ca_cert_path }} \
    --cert-file {{ etcd_ssl_cert_path }} \
    --key-file {{ etcd_ssl_key_path }} \
    set \
  {%- endif %}
      /coreos.com/network/config \
        '{"Network": "{{ cluster_networks.pod_network_cidr }}", "Backend": {"Type": "vxlan", "VNI": 1}}'
{%- endif %}
ExecStart={{ flanneld_bin_path }} \
  {%- if flannel_public_ip %}
    -public-ip={{ flannel_public_ip }} \
  {%- endif %}
    -etcd-endpoints={% for server, addrs in salt['mine.get']('roles:kube-master', 'kube_master_ip_addrs', tgt_type='grain')|dictsort() -%}
        https://{{ addrs[0] }}:2379{% if not loop.last %},{% endif %}
  {%- endfor %} \
    -etcd-cafile={{ etcd_ca_cert_path }} \
    -etcd-certfile={{ etcd_ssl_cert_path }} \
    -etcd-keyfile={{ etcd_ssl_key_path }} \
    -subnet-file=/run/flannel/subnet.env
{%- if flannel.get('subnet_lease_renew_margin', False) %} \
    -subnet-lease-renew-margin={{ flannel.subnet_lease_renew_margin }}
{%- endif %}
{%- if salt['pkg.version_cmp'](kubernetes_version, 'v1.24.0') < 0 %} \
    -ip-masq
{%- endif %}
{%- if flannel.get('verbosity', False) %} \
    -v={{ flannel.verbosity }}
{%- endif %}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
