{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/map.jinja" import etcd with context -%}
{%- from "common/vars.jinja" import
    node_kernel_lower, node_osarch
-%}

{%- set package_base_url = etcd.source_url + '/' + etcd.source_version -%}
{%- set package_base_name = 'etcd-' + etcd.source_version + '-' + node_kernel_lower + '-' + node_osarch -%}
{%- set package_dir = '/tmp/' + package_base_name -%}
{%- set package_source = package_base_url + '/' + package_base_name + '.tar.gz' -%}
{%- set package_source_hash = package_base_url + '/SHA256SUMS' -%}

{%- set etcd_bin_path = etcd.install_dir + '/etcd' -%}
{%- set etcdctl_bin_path = etcd.install_dir + '/etcdctl' -%}

{%- set etcd_ssl_dir = etcd.ssl_dir -%}

{%- set etcd_data_dir = etcd.data_dir -%}

{%- set etcd_ca_cert_path = etcd_ssl_dir + '/ca.crt' -%}
{%- set etcd_ssl_cert_path = etcd_ssl_dir + '/server.crt' -%}
{%- set etcd_ssl_key_path  = etcd_ssl_dir + '/server.key' -%}

{%- set etcd_peer_ca_cert_path = etcd_ssl_dir + '/peer-ca.crt' -%}
{%- set etcd_peer_ssl_cert_path = etcd_ssl_dir + '/peer.crt' -%}
{%- set etcd_peer_ssl_key_path  = etcd_ssl_dir + '/peer.key' -%}
