{% from "etcd/map.jinja" import etcd with context %}

{% set etcd_bin_path = etcd.install_dir + '/etcd' %}

{% from "kubernetes/vars.jinja" import
    node_host, node_ip4
with context %}

{% from "etcd/vars.jinja" import
    etcd_peers, etcd_scheme,
    etcd_ca_cert_path,
    etcd_ssl_cert_path, etcd_ssl_key_path
with context %}

[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network-online.target
Wants=network-online.target

[Service]
User=etcd
Type=notify
ExecStart={{ etcd_bin_path }} \
    --enable-v2 \
    --name {{ node_host }} \
    --advertise-client-urls {{ etcd_scheme }}://{{ node_ip4 }}:2379 \
    --data-dir /var/local/etcd \
    --listen-client-urls {{ etcd_scheme }}://{{ node_ip4 }}:2379,http://127.0.0.1:4001 \
{%- if etcd.cluster.use_ssl %}
    --trusted-ca-file {{ etcd_ca_cert_path }} \
    --client-cert-auth \
    --cert-file {{ etcd_ssl_cert_path }} \
    --key-file {{ etcd_ssl_key_path }}{% endif %}{% if etcd_peers|length >= 1 %} \
    --listen-peer-urls {{ etcd_scheme }}://{{ node_ip4 }}:2380 \
  {%- if etcd.cluster.use_ssl %}
    --peer-trusted-ca-file {{ etcd_ca_cert_path }} \
    --peer-client-cert-auth \
    --peer-cert-file {{ etcd_ssl_cert_path }} \
    --peer-key-file {{ etcd_ssl_key_path }} \
  {%- endif %}
    --initial-cluster-token {{ etcd.cluster.name }} \
    --initial-cluster {% for peer in etcd_peers -%}
        {{ peer['name'] }}={{ etcd_scheme }}://{{ peer['ip'] }}:2380{% if not loop.last %},{% endif %}
  {%- endfor %} \
    --initial-advertise-peer-urls {{ etcd_scheme }}://{{ node_ip4 }}:2380 \
    --initial-cluster-state new
{%- endif %}
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
