{%- from tplroot ~ "/map.jinja" import etcd with context -%}
{%- from tplroot ~ "/vars.jinja" import
    etcd_peers, etcd_default_scheme,
    etcd_data_dir,
    etcd_ca_cert_path,
    etcd_ssl_cert_path, etcd_ssl_key_path,
    etcd_bin_path
with context -%}
{%- from "common/vars.jinja" import
    node_host, node_ip4
-%}

[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd
After=network-online.target
Wants=network-online.target

[Service]
User=etcd
Type=notify
ExecStart={{ etcd_bin_path }} \
    --enable-v2 \
    --name {{ node_host }} \
    --advertise-client-urls {{ etcd_default_scheme }}{{ node_ip4 }}:2379 \
    --data-dir /var/local/etcd \
    --listen-client-urls {{ etcd_default_scheme }}{{ node_ip4 }}:2379 \
    --trusted-ca-file {{ etcd_ca_cert_path }} \
    --client-cert-auth \
    --cert-file {{ etcd_ssl_cert_path }} \
    --key-file {{ etcd_ssl_key_path }}{% if etcd_peers|length >= 1 %} \
    --listen-peer-urls {{ etcd_default_scheme }}{{ node_ip4 }}:2380 \
    --peer-trusted-ca-file {{ etcd_ca_cert_path }} \
    --peer-client-cert-auth \
    --peer-cert-file {{ etcd_ssl_cert_path }} \
    --peer-key-file {{ etcd_ssl_key_path }} \
    --initial-cluster-token {{ etcd.cluster.name }} \
    --initial-cluster {% for peer in etcd_peers -%}
        {{ peer['name'] }}={{ etcd_default_scheme }}{{ peer['ip'] }}:2380{% if not loop.last %},{% endif %}
  {%- endfor %} \
    --initial-advertise-peer-urls {{ etcd_default_scheme }}{{ node_ip4 }}:2380 \
    --initial-cluster-state new
{%- endif %}
Restart=on-failure
RestartSec=10
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
