{%- from tplroot ~ "/map.jinja" import kubernetes with context -%}
{%- set component = 'kube-controller-manager' -%}
{%- set component_bin_path = kubernetes.install_dir + '/controller-manager' -%}
{%- from tplroot ~ "/vars.jinja" import
    k8s,
    kubernetes_ssl_dir,
    kubernetes_ca_cert_path, kubernetes_ca_key_path,
    kubernetes_sa_key_path,
    kubernetes_root_ca_file,
    component_kubeconfig
with context -%}

[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service

[Service]
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --bind-address=0.0.0.0 \
    --secure-port=0 \
{%- if salt['pkg.version_cmp'](kubernetes.source_version, 'v1.24.0') < 0 %}
    --port=0 \
{%- endif %}
    --root-ca-file={{ kubernetes_root_ca_file }} \
    --service-account-private-key-file={{ kubernetes_sa_key_path }} \
    --use-service-account-credentials \
    --enable-hostpath-provisioner=false \
    --pvclaimbinder-sync-period=15s \
{%- if k8s.log_debug %}
    --v=4
{%- else %}
    --v=2
{%- endif %}{% if salt['pkg.version_cmp'](kubernetes.source_version, 'v1.26.0') < 0 %} \
    --logtostderr=true
{%- endif %}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
