{% from "kubernetes/map.jinja" import kubernetes with context %}

{% set component = 'kube-scheduler' %}
{% set component_bin_path = kubernetes.install_dir + '/scheduler' %}

{% from "kubernetes/vars.jinja" import
    component_kubeconfig
with context %}

[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service

[Service]
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --bind-address=0.0.0.0 \
    --secure-port=0 \
    --port=0 \
{%- if kubernetes.k8s.log_debug %}
    --v=2 \
{%- endif %}
    --logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
