{%- from tplroot ~ "/map.jinja" import kubernetes with context -%}
{%- set component = 'kubelet' -%}
{%- set component_bin_path = kubernetes.install_dir + '/kubelet' -%}
{%- from tplroot ~ "/vars.jinja" import
    k8s,
    cluster_dns_cluster_domain, cluster_dns_nameservers,
    node_role, node_ip4,
    kubernetes_ca_cert_path,
    component_ssl_cert_path, component_ssl_key_path,
    component_kubeconfig
with context -%}
{%- from "cni/vars.jinja" import
    cni_etc_dir
-%}

[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
{%- if node_role == 'master' %}
After=kube-apiserver.service kube-proxy.service
{% else %}
After=flannel.service haproxy.service kube-proxy.service
{% endif -%}

[Service]
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --address={{ node_ip4 }} \
    --port=10250 \
    --read-only-port=0 \
    --node-ip={{ node_ip4 }} \
    --anonymous-auth=false \
    --authorization-mode=Webhook \
    --authentication-token-webhook=true \
    --tls-cert-file={{ component_ssl_cert_path }} \
    --tls-private-key-file={{ component_ssl_key_path }} \
    --client-ca-file={{ kubernetes_ca_cert_path }} \
    --chaos-chance=0.0 \
    --container-runtime=docker \
{%- if node_role == 'master' %}
    --node-labels="type=controller" \
    --register-with-taints=node-role.kubernetes.io/master=:NoSchedule \
{%- endif %}
{%- if node_role == 'node' %}
    --enable-controller-attach-detach=false \
{%- endif %}
    --network-plugin=cni \
    --cni-conf-dir={{ cni_etc_dir }} \
{#-
  Issue:  https://github.com/kubernetes/kubernetes/issues/90259
  Commit: https://github.com/kubernetes/kubernetes/commit/8bed088224fb38b41255b37e59a1701caefa171b
#}
    --make-iptables-util-chains=false \
    --cpu-cfs-quota=false \
    --cloud-provider="" \
    --cluster-domain={{ cluster_dns_cluster_domain }} \
    --cluster-dns={{ cluster_dns_nameservers|join(',') }} \
{%- if k8s.log_debug %}
    --v=4
{%- else %}
    --v=2
{%- endif %} \
    --logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias=kube-kubelet.service
