{%- from tplroot ~ "/map.jinja" import kubernetes with context -%}
{%- set component = 'kube-proxy' -%}
{%- set component_bin_path = kubernetes.install_dir + '/proxy' -%}
{%- from tplroot ~ "/vars.jinja" import
    k8s,
    component_kubeconfig
with context -%}

[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service flannel.service haproxy.service

[Service]
EnvironmentFile=-/run/flannel/subnet.env
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --healthz-bind-address=127.0.0.1:10256 \
    --metrics-bind-address=127.0.0.1:10249 \
    --cluster-cidr=${FLANNEL_NETWORK} \
    --proxy-mode=iptables \
{%- if k8s.log_debug %}
    --v=2 \
{%- endif %}
    --logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
