{%- from tplroot ~ "/map.jinja" import kubernetes with context -%}
{%- set component = 'kube-scheduler' -%}
{%- set component_bin_path = kubernetes.install_dir + '/scheduler' -%}
{%- from tplroot ~ "/vars.jinja" import
    k8s,
    component_kubeconfig
with context -%}

[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service

[Service]
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --bind-address=0.0.0.0 \
    --secure-port=0 \
{%- if salt['pkg.version_cmp'](kubernetes.source_version, 'v1.24.0') < 0 %}
    --port=0 \
{%- endif %}
{%- if k8s.log_debug %}
    --v=4
{%- else %}
    --v=2
{%- endif %}{% if salt['pkg.version_cmp'](kubernetes.source_version, 'v1.26.0') < 0 %} \
    --logtostderr=true
{%- endif %}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
