{% from "kubernetes/map.jinja" import kubernetes with context %}

{% set component = 'kube-proxy' %}
{% set component_bin_path = kubernetes.install_dir + '/proxy' %}

{% from "kubernetes/vars.jinja" import
    kubernetes_apiserver_url,
    kubernetes_etc_dir,
    component_kubeconfig
with context %}

[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=kube-apiserver.service flannel.service haproxy.service

[Service]
EnvironmentFile=-/run/flannel/subnet.env
User=root
ExecStart={{ component_bin_path }} \
    --kubeconfig={{ component_kubeconfig }} \
    --master={{ kubernetes_apiserver_url }} \
    --logtostderr=true \
    --cluster-cidr=${FLANNEL_NETWORK} \
    --proxy-mode=iptables
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
