{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/map.jinja" import flannel with context -%}
{%- from "common/vars.jinja" import
    node_osarch
-%}

{%- set package_base_url = flannel.source_url + '/' + flannel.source_version -%}
{%- set package_base_name = 'flanneld-' + node_osarch -%}
{%- set package_source = package_base_url + '/' + package_base_name -%}
{%- set package_source_hash = flannel.source_hash.get(node_osarch) -%}

{%- set flannel_etcd_api = 3 if salt['pkg.version_cmp'](flannel.source_version, 'v0.18.0') > 0 else 2 -%}

{%- set flanneld_bin_path = flannel.install_dir + '/flanneld' -%}
