{% from "kubernetes/map.jinja" import kubernetes with context %}

{% from "kubernetes/vars.jinja" import
    kubernetes_scheme, kubernetes_apiserver_port,
    kubernetes_ca_cert_path,
    component_ssl_cert_path, component_ssl_key_path
with context %}

apiVersion: v1
kind: Config
clusters:
- cluster:
    server: {{ kubernetes_scheme }}://127.0.0.1:{{ kubernetes_apiserver_port }}
    certificate-authority: {{ kubernetes_ca_cert_path }}
  name: local
contexts:
- context:
    cluster: local
    user: {{ component }}
  name: local
current-context: local
users:
  - name: {{ component }}
    user:
      client-certificate: {{ component_ssl_cert_path }}
      client-key: {{ component_ssl_key_path }}
