{%- from tplroot ~ "/map.jinja" import kubernetes with context -%}
{%- from tplroot ~ "/vars.jinja import
    cluster_dns_domain, cluster_dns_search, cluster_dns_nameservers
with context -%}
domain {{ cluster_dns_domain }}
search{% for domain_suffix in cluster_dns_search %} {{ domain_suffix }}.{% endfor %} {{ cluster_dns_domain }}.
{% for nameserver in cluster_dns_nameservers -%}
nameserver {{ nameserver }}
{%- endfor -%}
